.our-ebook > .container {
    display: flex;
}
.our-ebook > .container .adress-container {
    width: 35%;
}
.our-ebook > .container .adress-container .ad-firs-col {
    width: 100%;
}

.our-ebook > .container > fieldset {
    width: 75%;
}
.our-ebook > .container > fieldset >legend {
    display: none;
}
.our-ebook > .container .form-item-civicrm-1-activity-1-activity-activity-type-id, .our-ebook > .container .form-item-civicrm-1-activity-1-activity-subject{
    display: none;
}

fieldset.famille_location_field {
    top: 19px;
    margin-top: 25px;
}

.webform-submission-formulaire-pour-adherent-form #edit-civicrm-1-contact-1-fieldset-fieldset > legend {
    text-align: center;
    font-weight: 900;
    font-size: 1.8rem;
}
.custom-class-wrapper {
    margin-top: -38px;
}

.custom-class-wrapper > label {
    font-family: "Roboto", Sans-serif;
    font-weight: bold;
    line-height: 28px;
    color: #54595f;
    font-size: 100%;
}
.form-item-civicrm-1-contact-1-contact-video-presentation {
    padding-top: 28px;
}

.valid-without-modif {
    background-color: #010b11 !important;
    color: white;
}

.custom-note-warning {
    font-size: 14px;
    text-align: right;
    display: flex;
    flex-direction: column-reverse;
    padding-right: 15px;
}

.btn-blue {
    background: #0071b8 !important;
    float: right;
}

.page-form-formulaire-pour-adherent .form-actions.form-wrapper {
    display: inline-flex;
    gap: 28px;
}

[name="civicrm_1_contact_1_website_url"], [name="civicrm_1_contact_1_contact_video_presentation"] {
    margin-bottom: 0 !important;
}

.js-form-item-civicrm-1-contact-1-marque {
    padding-bottom: 13px;
    padding-top: 12px;
    width: 50% !important;
}

.chosen-container.marque-select {
    width: 50%;
} 

.webform-submission-formulaire-pour-adherent-form #edit-pave-coordonnees > legend ,
.webform-submission-formulaire-pour-adherent-form #edit-pave-activite- > legend {
    font-size: 1.3rem;
    padding-top: 24px;
}

.webform-submission-formulaire-pour-adherent-form .cke_button.cke_button__drupalimage.cke_button_off {
    display: none;
}
.webform-submission-formulaire-pour-adherent-form .js-form-item.form-item.js-form-type-textfield ,
.webform-submission-formulaire-pour-adherent-form .js-form-item.form-item.js-form-type-select,
.webform-submission-formulaire-pour-adherent-form .js-form-item.form-item.js-form-type-email{
    width: 33%;
    display: inline-block;
    /* display: flex; */
    margin-right: 0 !important;
    padding-right: 0;
    padding-right: 10px;
    /* float: left; */
}
.form-item-email.js-form-item-email {
    width: 31%;
}

.webform-submission-formulaire-pour-adherent-form .js-form-item.js-form-type-textfield.form-item-civicrm-1-contact-1-website-url {
    padding-right: 10px;
    padding-top: 28px;
}
.webform-submission-formulaire-pour-adherent-form .js-form-item.js-form-type-textfield.form-item-civicrm-1-contact-1-contact-video-presentation {
    float: right;
}
.webform-submission-formulaire-pour-adherent-form .js-form-item.js-form-type-textfield.form-item-civicrm-1-contact-1-website-url, 
.webform-submission-formulaire-pour-adherent-form .js-form-item.js-form-type-textfield.form-item-civicrm-1-contact-1-contact-video-presentation {
    width: 49%;

}
.d-inline-50 {
    width: 47%;
    display: inline-block;
    margin-right: 2%;
}
.add-new-agenceform {
    font-family: "Verdana", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.form-item-civicrm-2-activity-1-new-marque > label {
    color: #54595f;
    font-size: 100%;
    font-weight: bold;
}
.form-item-civicrm-2-activity-1-new-marque  {
    width: 49% !important;
}
#custom-popup .d-inlines {
    width: 47%;
}
#custom-popup {
    height: 445.656px !important;
}
[name="civicrm_2_activity_1_new_marque"] {
    height: 30.5px !important;
    border-radius: 9px !important;
}
.d-inlines {
    width: 31%;
    display: inline-block;
    margin-right: 2%;
}
.d-inlines.js-form-item-country {
    padding-bottom: 25px;
}

.js-form-item-civicrm-1-contact-1-marque {
    margin-top: 0;
    padding-top: 0;
}

.default-mark {
    float: left;
    display: inline-block;
    width: 30% !important;  
}

.verify-agence {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.page-form-formulaire-pour-adherent .top-bar {
    display: none !important;
}
.page-form-formulaire-pour-adherent #edit-adresse summary::marker {
    content: '';
}
.page-form-formulaire-pour-adherent-confirmation .webform-confirmation__message, .page-form-formulaire-pour-adherent-confirmation .webform-confirmation__back  {
    display: none;
}
.page-civicrm-verifie-agence-liste .block-menu.menu--guide .menu li a{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color emoji;
    color: #707070;
    font-weight: bold;
    font-size: 100%;
    display: flex;
    padding: 8px 15px;
    align-items: center;
    text-transform: capitalize;
}

.page-civicrm-verifie-agence-liste #content{
    width: 100%;
}
.page-civicrm-verifie-agence-liste #sidebar_left {
    display: none;
}
.webform-submission-formulaire-pour-adherent-form .js-text-format-wrapper .js-filter-wrapper {
    display: none;
}

.page-form-formulaire-pour-adherent #content {
    width: 100%;
}
.page-form-formulaire-pour-adherent #sidebar_left {
    display: none;
}

.webform-submission-formulaire-pour-adherent-form .js-form-item.form-item.js-form-type-checkbox {
    width: 33%;
    display: inline-block;
}

.form-item-civicrm-1-contact-1-address-postal-code {
    width: 10% !important;
}

.form-item-civicrm-1-contact-1-address-city {
    width: 15% !important;
}

.form-item-civicrm-1-contact-1-address-country-id {
    width: 13% !important;
}
.form-item-civicrm-1-contact-1-address-country-id .country-list {
    width: 100% !important;
}
.form-item-civicrm-1-contact-1-contact-latitude, .form-item-civicrm-1-contact-1-contact-longitude{
    width: 16% !important;
}

/*annuaire page geographique */
.section-annuaire .chosen-container-multi {
    padding-bottom: 7px;
}
.c-activity-main {
    display: inline-flex;
    gap: 200px;
}
.chosen-single span, .webform-submission-formulaire-pour-adherent-form  p {
    font-size: 1rem;
}

.data-eco-market-sector > legend, .form-item-civicrm-1-contact-1-marque > label , .form-item-civicrm-1-contact-1-custom-50-7584-value > label, .famille_location_field legend span,
.form-item-civicrm-1-activity-1-cg30-custom-7584 > label, .form-item-nom-entreprise label, .form-item-civicrm-1-contact-1-phone-phone > label, 
.form-item-civicrm-1-contact-1-contact-latitude > label, .form-item-civicrm-1-contact-1-contact-longitude > label, .activity-main-label,
.form-item-civicrm-1-contact-1-email-email > label, .form-item-civicrm-1-contact-1-website-url > label, .form-item-civicrm-1-contact-1-contact-video-presentation > label,
.d-inline-50 label, .d-inlines label, .label-marque
{
    font-family: "Roboto", Sans-serif;
    font-weight: bold;
    line-height: 28px;
    color: #54595f;
    font-size: 100%;
}
.data-eco-market-sector > legend {
    padding-top: 4%;
}
.marque-select ul.chosen-choices {
    border-radius: 7px;
}

.adress-container {
    display: flex;
    border-radius: 5px 5px 5px 5px;
}
.form-item-civicrm-1-contact-1-address-street-address, .form-item-civicrm-1-contact-1-address-postal-code , .form-item-civicrm-1-contact-1-address-country-id,
.form-item-civicrm-1-contact-1-address-city {
    display: none !important;
}
.webform-submission-formulaire-pour-adherent-form .js-text-format-wrapper.js-form-item.form-item {
    padding-bottom: 20px;
}
.data-eco-market-sector {
    padding: 10px;
    background-color: #f3f5f9;
    border-radius: 5px;
}

.webform-submission-formulaire-pour-adherent-form .js-text-format-wrapper.js-form-item.form-item  {
    padding-top: 16px !important;
}

.conteneur-block {
    width: 100%;
}
.custom-row {
    display: flex;
}

.our-ebook-cont {
    letter-spacing: 1px;
}
.form-adherent-adress {
    font-weight: normal;
    font-family: "Roboto", Sans-serif;
    font-weight: bold;
    line-height: 28px;
    color: #54595f;
    font-size: 100%;
}
.our-ebook-cont .custom-row .ad-firs-col {
    padding-left: 0;
}
.ad-firs-col {
    width: 36%;
    padding-left: 4%;  
}
.our-ebook-cont p {
    /* font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    color: #7a8495;
    margin: 15px 0; */
}

.our-ebook-cont a {
    display: inline-block;
    font-size: 14px;
    background: #3c7cf6;
    color: #fff;
    border-radius: 3px;
    font-weight: 600;
    padding: 10px 20px;
    -webkit-box-shadow: 1px 2px 5px 0 rgba(0,0,0,.35);
    box-shadow: 1px 2px 5px 0 rgba(0,0,0,.35);
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .webform-submission-formulaire-pour-adherent-form .js-form-item.form-item.js-form-type-textfield,
     .webform-submission-formulaire-pour-adherent-form .js-form-item.form-item.js-form-type-select,
     .webform-submission-formulaire-pour-adherent-form .js-form-item.form-item.js-form-type-email {
        width: 32%;
     }

     .page-form-formulaire-pour-adherent .grid-margin-x .medium-9.cell {
        width: 96%;
     }

    }
    
@media only screen and (max-width: 600px) {
    .page-form-formulaire-pour-adherent .grid-x.grid-margin-x.align-middle .medium-4.cell{
        width: 37%;
        margin: 0;
    }
    .page-form-formulaire-pour-adherent .grid-x.grid-margin-x.align-middle .medium-8.cell{
        margin: 0;
        width: 60%;
    }
    .position-initial.block-civicrm-custom-block img.img-logo-head-annuaire {
        width: 100%;
        padding-left: 26px;
    }

    .webform-submission-formulaire-pour-adherent-form .js-form-item.form-item.js-form-type-checkbox {
        width: 49%;
        display: inline-block;
    }
    .webform-submission-formulaire-pour-adherent-form .webform-options-display-one-column.form-checkboxes label {
        display: contents;
    }

    .webform-submission-formulaire-pour-adherent-form #edit-civicrm-1-contact-1-fieldset-fieldset > legend {
        font-size: 1.4rem;
    }
    .webform-submission-formulaire-pour-adherent-form .js-form-item.form-item.js-form-type-textfield,
     .webform-submission-formulaire-pour-adherent-form .js-form-item.form-item.js-form-type-select, 
     .webform-submission-formulaire-pour-adherent-form .js-form-item.form-item.js-form-type-email {
        width: 48%;
    }
    .form-item-civicrm-1-contact-1-contact-latitude, .form-item-civicrm-1-contact-1-contact-longitude {
        width: 24% !important;
    }
    .our-ebook-cont {
        padding: 35px 0 35px 40px;
    }
    .position-initial.block-civicrm-custom-block img.img-logo-head-annuaire {
        width: 41%;
    }
}

.page-form-formulaire-pour-adherent .menu li.menu-item a {
    color: #707070;
    font-weight: bold;
    font-size: 100%;
    display: flex;
    padding: 8px 15px;
    align-items: center;
    text-transform: capitalize;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color emoji;
    font-size: 16px;
  }
  
  .page-form-formulaire-pour-adherent  header .top-bar {
    background: white;
    border: 1px solid;
  }

